{% extends "base.html" %}
{% block title %}Página de compra{% endblock %}
{% block navegation %}
	<a href='{{url_for("listaMarcas",)}}'>
		<button type="button" name="button">Vuelta a las marcas</button>
	</a>
	<a href='{{url_for("listaModelosYCoches",marca_url=miModelo.marca.rec_name)}}'>
		<button type="button" name="button">Vuelta a los modelos</button>
	</a>
{% endblock %}
{% block content %}
	<h1>Formulario para comprar:</h1>
	<form action="" method="POST">

		<h3>
			<label>Marca: </label>
			{{miModelo.marca.nombre}}
		</h3>
		<h3>
			<label>Propietario</label>
			<select class="" name="propietario" required>
				{% for tercero in misTerceros %}
					<option value={{tercero.id}}>{{tercero.rec_name}}</option>
				{% endfor %}
			</select>
		</h3>
		<h3>
			<label>Matricula</label>
			<input type="text" name="matricula" value="" required>
		</h3>
		<button type="submit" name="button">Comprar</button>
	</form>
{% endblock %}
